*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebe5e8 !important;
}

header {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 60px;
    background-color: rgb(165, 165, 177);
}

.anchor a {
    text-decoration: none;
    margin: 1px;
    padding: 2px;
    color: #d90368;
    border: solid black;
    border-radius: 5px;
}

nav {
    
    height: 50px;
    background-color: #c6a3b3;
    color: white;
}

main {
    height: max-content !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #e5e5e5;
    margin: 2px;
    padding: 2px;
}

main ul{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 5px;
    padding: 5px;
}

.card {

    padding: 10px !important;
    margin: 5px !important;
    background-color: black !important;
}



.card-body {
    background-color: #c6a3b3;
}

.upMain{
    height: 420px;
}
.contactMain{
    height: 420px !important;
}

.cardDetails{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.detailsMain{
    height: 420px !important;
}

.statMain{
    background-color: rgb(202, 163, 163);
}
footer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    background-color: rgb(201, 201, 201);
}
table{
    margin:auto;
    empty-cells: show;
    width: 60%;
    
}
thead{
    font-weight: bold;
}
table th{
    background-color: rgb(196, 194, 194);
}
table td, table th, table tr{
    border: 1px solid black;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    header a {
        display: none;
    }

    #logo {
        width: 50px;
    }

    h2 {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: medium !important;
    }

    nav {

        justify-content: space-around;
        font-size: xx-small;
        margin: 3px;
        padding: 2px;
    }

    main {

        font-size: small;
    }

    .img {
        transform: translate(150%);
        height: 120px;
        width: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    .anchor {
        font-size: x-small;
    }

    #logo {
        width: 50px;
    }

    h1 {
        font-size: x-large;
    }

    nav {
        justify-content: space-around;
        font-size: xx-small;
        margin: 3px;
        padding: 2px;
    }

    main {

        font-size: small;
    }

    .img {
        transform: translate(200%);
        text-align: center;
        height: 200px;
        width: 150px;
    }

}

